

/* ici je m'occupe du logo*/
.item1{
    cursor: pointer;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}



/* ici item2 boutton nous contacter*/
.item2{
    padding: 30px;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}



/* container */
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    /*ici pratique pour placer 
    a div en dessous de l autre en responsive*/
    justify-content: center;
    
}



/* ici item block j'ai couper mes zone de site en block*/
.item3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: x-large;
    line-height: 2.5;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Palette Mosaic', cursive;
    padding-bottom: 50px;
}



footer{
    padding-top: 50px;
    font-size: 15px;
    color:white;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 50px;
    background-color: rgb(100, 51, 216);
}